In [5]:
import sqlite3
import pandas as pd

In [8]:
connection = sqlite3.connect("D:\Trabajo 07062019\Personal\España\Master Data Science\TFM\capstone-project-2\capstone-project-r2\data\dsmarket.db")

<>:1: SyntaxWarning: invalid escape sequence '\T'
<>:1: SyntaxWarning: invalid escape sequence '\T'
D:\Users\roberto.steel\AppData\Local\Temp\ipykernel_5140\253527635.py:1: SyntaxWarning: invalid escape sequence '\T'
  connection = sqlite3.connect("D:\Trabajo 07062019\Personal\España\Master Data Science\TFM\capstone-project-2\capstone-project-r2\data\dsmarket.db")

In [9]:
q="""
SELECT *
FROM daily_calendar
"""

pd.read_sql(q,connection)

DatabaseError: Execution failed on sql '
SELECT *
FROM daily_calendar
': no such table: daily_calendar