In [6]:
import pandas as pd
import numpy as np

In [7]:
calendario = pd.read_csv("C:\RS\España\Master Data Science\TFM\capstone-project-2\capstone-project-r2\capstone-project-r2\data\daily_calendar_with_events.csv")
precios = pd.read_csv("C:\RS\España\Master Data Science\TFM\capstone-project-2\capstone-project-r2\capstone-project-r2\data\item_prices.csv")
ventas = pd.read_csv("C:\RS\España\Master Data Science\TFM\capstone-project-2\capstone-project-r2\capstone-project-r2\data\item_sales.csv")

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:3: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:3: SyntaxWarning: invalid escape sequence '\R'
C:\Users\rstee\AppData\Local\Temp\ipykernel_4420\1735829786.py:1: SyntaxWarning: invalid escape sequence '\R'
  calendario = pd.read_csv("C:\RS\España\Master Data Science\TFM\capstone-project-2\capstone-project-r2\capstone-project-r2\data\daily_calendar_with_events.csv")
C:\Users\rstee\AppData\Local\Temp\ipykernel_4420\1735829786.py:2: SyntaxWarning: invalid escape sequence '\R'
  precios = pd.read_csv("C:\RS\España\Master Data Science\TFM\capstone-project-2\capstone-project-r2\capstone-project-r2\data\item_prices.csv")
C:\Users\rstee\AppData\Local\Temp\ipykernel_4420\1735829786.py:3: SyntaxWarning: invalid escape sequence '\R'
  ventas = pd.read_csv("C:\RS\España\Master Data Science\TFM\capstone-project-2\capstone-project-r2\capstone-project-r2\data\item_sales.csv")

In [12]:
calendario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1913 non-null   object
 1   weekday      1913 non-null   object
 2   weekday_int  1913 non-null   int64
 3   d            1913 non-null   object
 4   event        26 non-null     object
dtypes: int64(1), object(4)
memory usage: 74.9+ KB

In [59]:
calendario.head()

         date    weekday  weekday_int    d event
0  2011-01-29   Saturday            1  d_1   NaN
1  2011-01-30     Sunday            2  d_2   NaN
2  2011-01-31     Monday            3  d_3   NaN
3  2011-02-01    Tuesday            4  d_4   NaN
4  2011-02-02  Wednesday            5  d_5   NaN

In [189]:
precios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6965706 entries, 0 to 6965705
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    float64
 4   sell_price  float64
dtypes: float64(2), object(3)
memory usage: 265.7+ MB

In [67]:
precios.head()

               item    category store_code  yearweek  sell_price
0  ACCESORIES_1_001  ACCESORIES      NYC_1  201328.0     12.7414
1  ACCESORIES_1_001  ACCESORIES      NYC_1  201329.0     12.7414
2  ACCESORIES_1_001  ACCESORIES      NYC_1  201330.0     10.9858
3  ACCESORIES_1_001  ACCESORIES      NYC_1  201331.0     10.9858
4  ACCESORIES_1_001  ACCESORIES      NYC_1  201332.0     10.9858

In [14]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1920 entries, id to d_1913
dtypes: int64(1913), object(7)
memory usage: 446.6+ MB

In [15]:
ventas.head()

,id,item,category,department,store,store_code,region,d_1,d_2,d_3,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [37]:
suma_total_index=ventas.sum(axis=1,numeric_only=True)

In [38]:
ventas1=ventas.copy()

In [183]:
ventas1["ventas Total"]=suma_total_index
ventas_totales=ventas1["ventas Total"].sum()

In [190]:
ventasmelt=ventas.melt(id_vars=ventas.columns[:7],value_vars=ventas.columns[7:],var_name="d",value_name="Cantidad") #Transformacion de BD, dias por Fila

In [192]:
ventasmelt["Cantidad"].sum() # suma de ventas totales

65695409

In [194]:
ventasmelt[ventasmelt["Cantidad"]==0].index # identificar indices con ventas = 0

Index([       0,        1,        2,        3,        4,        5,        6,
              9,       10,       11,
       ...
       58327349, 58327350, 58327351, 58327355, 58327357, 58327358, 58327363,
       58327366, 58327367, 58327369],
      dtype='int64', length=39777094)

In [197]:
ventas2=ventasmelt.drop(ventasmelt[ventasmelt["Cantidad"]==0].index) #eliminar indices con ventas =0

In [199]:
ventas2.reset_index(inplace=True) # reset de indices despues de eliminar

In [198]:
ventas2["Cantidad"].sum() # comprobacion de suma total despues de eliminar filas check

65695409

In [200]:
ventas3=pd.merge(ventas2,calendario2,how="left",on="d") # Join ventas con calendario

In [96]:
precios2=precios.copy()

In [201]:
precios["yearweek"].isnull().sum() # numero de semanas nulas

243920

In [202]:
precios["sell_price"].isnull().sum()

0

In [152]:
precios2["yearweek"]=precios2["yearweek"].astype(str)
precios2["yearweek"]=precios2["yearweek"].str.slice(stop=6) # quita .0 del string
precios2["year"]=precios2["yearweek"].str.slice(stop=4) # crea columna con año

In [153]:
precios2["semana"]=precios2["yearweek"].str.slice(start=4,stop=6) # crea columna con semana
precios2["id"]=precios2["item"]+"_"+precios2["store_code"] # crea id coditem+codstore

In [134]:
calendario2=calendario.copy()

In [135]:
calendario2["date"]=pd.to_datetime(calendario2["date"]) # formato fecha en columna date

In [162]:
# crea columnas de dia,semana,mes y año a partir de date
calendario2['week'] = calendario2['date'].dt.isocalendar().week
calendario2['day'] = calendario2['date'].dt.day
calendario2['month'] = calendario2['date'].dt.month
calendario2['year'] = calendario2['date'].dt.year

In [137]:
# concatena semana y año en un string, agregando el 0 a semanas del 1 al 9
calendario2['week'] = calendario2['date'].dt.isocalendar().week.astype(str)
for i in range(len(calendario2)):
    if int(calendario2.loc[i,'week']) < 10:
        calendario2.loc[i,'week'] = '0'+calendario2.loc[i,'week']
calendario2['year'] = calendario2['date'].dt.isocalendar().year
calendario2['yearweek']=calendario2['year'].astype(str)+calendario2['week']

In [166]:
ventas4=pd.merge(ventas3,precios2[["id","yearweek","sell_price"]],how="left",on=["id","yearweek"]) #join de ventas y precios

In [179]:

ventas4[ventas4["sell_price"].isnull()].index # ventas con datos nulos dado a que le semanaaño era nula

Index([       0,        1,        2,        3,        4,        5,        6,
              7,        8,        9,
       ...
       17112135, 17258843, 17271285, 17272854, 17363561, 17432833, 17610244,
       17617181, 17622934, 17631199],
      dtype='int64', length=100448)

In [184]:
ventas_nulas=ventas4["Cantidad"].iloc[ventas4[ventas4["sell_price"].isnull()].index].sum() # cuantifica la cantidad de unidades con precio nulo

In [188]:
print((ventas_nulas/ventas_totales)*100,"%" )  #porcentaje de ventas nulas

0.510941335337451 %